<div class="todoapp mt-5">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1> <i class="fa fa-check icolor"></i> Todo List App</h1>
      </div>
      <div class="col-6 text-right">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Axtarin...</mat-label>
            <input matInput placeholder="Axtarin..." #newTodo>
          </mat-form-field> <button mat-raised-button color="primary" (click)="addTodo(newTodo)" type="button">input</button>
        </form>
      </div>
      <mat-card class="d-flex bgdata">
        <div class="example-container">
          <h2>Edeceklerim</h2>
        
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList,dataList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of todo" cdkDrag>
              <i class="fa fa-share-square-o iconsize"></i>
              {{item}}</div>
          </div>
        </div>
        
        <div class="example-container">
          <h2>Edilenler(hal-hazirda)</h2>
        
          <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList,doneList,dataList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of done" cdkDrag>             
              <i class="fa fa-hourglass-start iconsize"></i>
              {{item}}</div>
          </div>
        </div>

        <div class="example-container">
          <h2>Tamamlananlar</h2>
        
          <div
            cdkDropList
            #dataList="cdkDropList"
            [cdkDropListData]="data"
            [cdkDropListConnectedTo]="[todoList,doneList]"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of data" cdkDrag>
              <i class="fa fa-check-square-o iconsize"></i>
              {{item}}</div>
          </div>
        </div>
        
      </mat-card>

    </div>
    <p class="text-center my-3"> ©2020 by leman ibrahimli </p>
  </div>
</div>